= form_for @ticket do |f|
  - if @ticket.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ticket.errors.count, "error")} prohibited this ticket from being saved:"
      %ul
        - @ticket.errors.full_messages.each do |msg|
          %li= msg

  %div
    = f.label :name
    = f.text_field :name
  %div
    = f.label :email
    = f.email_field :email
  %div
    = f.label :subject
    = f.text_area :subject

  .actions
    = f.submit t('submit')
