- model_class = Ticket
.page-header
  %h1= t("views.admin.tickets.index.title")

- unless @tickets.empty?
  %table.table.table-striped
    %thead
      %tr
        %th= model_class.human_attribute_name(:id)
        %th= model_class.human_attribute_name(:name)
        %th= model_class.human_attribute_name(:email)
        %th= model_class.human_attribute_name(:reference_number)
        %th=t '.actions', :default => t("helpers.actions")
    %tbody
      - @tickets.each do |ticket|
        %tr
          %td= link_to ticket.id, admin_ticket_path(ticket)
          %td= ticket.name
          %td= ticket.email
          %td= ticket.reference_number
          %td
            = link_to t("views.admin.tickets.index.header.edit"), admin_ticket_path(ticket), :class => 'btn btn-mini'
- else
  = t("views.admin.tickets.index.blank_result")
